<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/6b6cf24d2b.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>Tuomas Katajisto | Home</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    </head>
    <body>
        <div class="top-bar">
            <a href="/" class="top-bar-title"><i class="fas fa-terminal"></i> Tuomas Katajisto</a>
        </div>
        <noscript>Please turn on JS for full page functionality</noscript>
        <div class="blog">
            <div class="about-me">
                <img class="about-me-image" src="../img/tuomas_md.jpg"/>
                <h1 class="about-me-title"><span style="color: navy">~$</span>./Tuomas Katajist<span class="about-me-title-o about-me-title-o-js" id="title-o">o</span></h1>
                <h2 class="about-me-subtitle"><a class="about-me-link">Koodista</a> | <a class="about-me-link">Ruoasta</a> | <a class="about-me-link">Rahasta</a></h2>
                <div class="about-me-list">
                    <h2 onclick="aboutClick()" id="about-title" class="about-me-list-title">+ Minusta</h2>
                    <div class="about-me-list-container" id="about" hidden>
                        <p class="about-me-list-text">
                            18 vuotias Tampereelle Ulvilasta muuttanut ohjelmoija ja oman elämänsä
                            talousguru sekä Gordon Ramsay. Nykyään enimmäkseen webbiohjelmointia mutta
                            kisakoodausta on tullut tehtyä ihan ok paljon. Paras ohjelmointikieli on obviously Go.<br><br>
                            Email: <a href="mailto:t@ktj.st">t@ktj.st</a>
                        </p>
                    </div>
                </div>
                <div class="about-me-list">
                    <h2 class="about-me-list-title" id="projects-title" onclick="projectsClick()">+ Projektini</h2>
                    <div class="about-me-list-container" id="projects" hidden>
                        <div class="project-container">
                            <h1 class="project-title">Maailman epäkäytännöllisin tapa laskea π:n desimaaleja.</h1>
                            <p class="project-desc">Laskee π:n desimaaleja törmäilevien palikkojen ja fysiikkasimulaation avulla. VanillaJS. Jos haluat tietää miksi tämä toimii niin Google: Pi colliding blocks.</p>
                            <a href="https://blocks.ktj.st/" class="project-link">Linkki projektiin</a>
                        </div>
                        <div class="project-container">
                            <h1 class="project-title">Placeholder kuvageneraattori koirani kuvalla</h1>
                            <p class="project-desc">Otsikko kertonee kaiken tarpeellisen, pyörii Raspberry Pi:lla.</p>
                            <a href="https://m.ktj.st/vp/" class="project-link">Linkki projektiin</a>
                        </div>
                        <div class="project-container">
                            <h1 class="project-title">React matikkaeditori</h1>
                            <p class="project-desc">Pieni, suht hyvin toimiva latex editori live refreshillä.</p>
                            <a href="https://tmacs.ktj.st" class="project-link">Linkki projektiin</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-posts">
                {{ range .Pages }}
                <div class="blog-post">
                    <h1 class="post-title">{{ .Title }}</h1 >
                    <h2 class="blog-post-date">{{ .Date.Format "January 2006" }}</h2>
                    <p class="post-summary">{{ .Params.description }}</p><br>
                    <a class="post-link" href="{{ .Permalink }}"><i class="fas fa-book-open"></i> Lue postaus...</a>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="bottom-icons">
            <a class="github-link" href="https://github.com/katajisto"><i class="fab fa-github"></i></a>
            <a class="twitter-link" href="https://twitter.com/tuomaskatajisto"><i class="fab fa-twitter"></i></a>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>