<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/6b6cf24d2b.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>Tuomas Katajisto | Home</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    </head>
    <body>
        <noscript>Please turn on JS for full page functionality</noscript>
        <div class="blog">
            <div class="about-me">
                <img class="about-me-image" src="../img/tuomas_md.jpg"/>
                <h1 class="about-me-title"><span style="color: navy">~$</span>Tuomas Katajist<span class="about-me-title-o about-me-title-o-js" id="title-o">o</span></h1>
                <h2 class="about-me-subtitle"><a class="about-me-link">Koodista</a> | <a class="about-me-link">Ruoasta</a> | <a class="about-me-link">Rahasta</a></h2>
                <div class="about-me-list">
                    <h2 onclick="aboutClick()" id="about-title" class="about-me-list-title">+ Minusta</h2>
                    <div class="about-me-list-container" id="about" hidden>
                        <p class="about-me-list-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="about-me-list">
                    <h2 class="about-me-list-title" id="projects-title" onclick="projectsClick()">+ Projektini</h2>
                    <div class="about-me-list-container" id="projects" hidden>
                        <div class="project-container">
                            <h1 class="project-title">PROJECT</h1>
                            <p class="project-desc">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-posts">
                {{ range .Pages }}
                    <h1 class="post-title">{{ .Title }}</h1 >
                    <h2 class="blog-post-date">{{ .Date.Format "January 2006" }}</h2>
                    <p class="post-summary">{{ .Params.description }}</p><br>
                    <a class="post-link" href="{{ .Permalink }}"><i class="fas fa-book-open"></i> Lue postaus...</a>
                {{ end }}
            </div>
        </div>
        <a class="github-link" href="https://github.com/katajisto"><i class="fab fa-github"></i></a>
        <a class="twitter-link" href="https://twitter.com/tuomaskatajisto"><i class="fab fa-twitter"></i></a>

        <script src="/js/main.js"></script>
    </body>
</html>